@use '../../Styles/Constants.scss';

.about-container {
    display: flex;
    justify-content: space-between;

    .about-text {
        width: 35vw;
    }

    .headshot {
        width: 25vw;
        height: 100%;
    }

    .headshot-offset {
        background-color: Constants.$primary-color;
        width: 25vw;
        height: 25vw;
        z-index: -1;
        position: absolute;
        right: 18%;
        margin-top: 1.5rem;
    }
}