@use "../../Styles/Constants.scss";

.projects-container {
    display: flex;

    .projects-menu {
        width: 30%;

        ul {
            padding: 0;
            margin-top: 0;
        }

        li {
            list-style-type: none;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 2rem;
            width: max-content;
        }

        li:hover,
        .selected {
            box-shadow: inset 0 -.75rem 0 0 Constants.$primary-color;
            cursor: pointer;
        }

        .selected {
            font-size: 1.75rem;
        }
    }

    .project-details-container {
        width: 70%;

        .project-description {
            padding: 0 0 1.5rem 1.5rem;

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }

            a:hover {
                box-shadow: inset 0 -.5rem 0 0 Constants.$primary-color;
            }
        }

        .carousel-container {
            width: 100%;
            text-align: center;

        }

        .slick-slider {
            box-shadow: -2rem 2rem 0 0 Constants.$primary-color;
        }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }

        img {
            width: 35rem;
            margin: 0 auto;
        }
    }
}

@media (max-width: 650px) {
    .projects-container {
        display: block;

        .projects-menu {
            li {
                font-size: 1rem;
                margin-bottom: .75rem;
            }

            .faded {
                color: grey;
            }

            .faded:hover {
                color: black;
            }
        }

        .project-details-container {
            width: 100%;

            .project-description {
                padding-left: 0;
            }

            .carousel-container {
                width: 90%;
                margin: 0 auto;
            }

            .slick-slider {
                box-shadow: -1rem 1rem 0 0 Constants.$primary-color;
            }
        }
    }
}