@use './Styles/Constants.scss';

body {
  margin: 0;
  font-family: Constants.$font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
}

h3 {
  font-size: 1.5rem;
}

.page {
  padding: 3rem 15%;
}

.footer {
  text-align: center;
}

.nav-container {

  .nav-header {
    background-color: Constants.$primary-color;
    padding: 5% 15% 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h1 {
      font-size: 4rem;
      margin: 0;
      
      a {
        text-decoration: none;
        color: black;
        transition: transform .2s
      }

      a:hover {
        font-weight: lighter;
      }
    }

    .nav-link {
      text-decoration: none;
      padding-left: 3rem;
      color: black;
      font-size: 1.5rem;
    }

    a.nav-link:hover {
      font-weight: bold;
    }
    a.nav-link.active {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .header-clip {
    background-color: white;
    height: 1rem;
    margin-top: -14px;
  }
}